#nav, #nav ul{
overflow: visible;
z-index:100;
margin:0;
padding:0;
list-style-type:none;
list-style-position:outside;
position:relative;
line-height:1.5em; 
background: #fff;
border-radius: 6px; 
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45); 
}

#nav a{
display:relative;
padding:0px 5px;
color:#555555;
text-decoration:none;
}

#nav a:hover{
background:#155FB0; 
color: #FFFFFF; 
text-decoration: none;
border-radius: 6px; 
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45); 
}

#nav li{
float:left;
position:relative;
}

#nav ul {
position:absolute;
display:none;
width:13em;
top:1.5em;
}

#nav li ul a{
width:12em;
height:auto;
float:left;
}

#nav ul ul{
top:auto;
}   

#nav li ul ul {
left:12em;
margin:0px 0 0 10px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{
display:none;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{
display:block;
}

#nav .submenu:after {
    content: ">";
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 1;
}
